@media screen and (max-width: 575px) {
    header {
        .navbar {

            &-logo {
                margin-left: 0;
                width: 92px;
                height: 29px;
                background-size: 100%;
            }

            &-toggler {
                height: 26px;
                width: 26px;
            }

            &-basket {
                margin-right: 0;
                top: 17px;
                right: 50px;
                position: fixed;
                z-index: 1;
                height: 26px;
                width: 26px;

                &::before {
                    top: 6px;
                    left: 6px;
                    height: 15px;
                    width: 14px;
                    background-size: 100%;
                }


            }
        }
    }

    .first-screen {
        height: 570px;
        background: url(assets/img/firstscreen-back_phone.png) center/100% no-repeat;
        margin-top: -87px;
        padding-top: 56px;

        .container {
            padding-left: 10px;
            padding-right: 10px;

        }

        &__title {
            font-size: 25px;
            line-height: 32px;
            width: 298px;
            margin-top: 44px;
            margin-bottom: 10px;

            &::before {
                top: 15px;
                left: 270px;
                background-size: 50%;
            }

            &::after {
                top: 32px;
                left: 252px;
                background-size: 30%;
            }
        }

        &__descreption {
            font-size: 14px;
            line-height: 17px;
            width: 308px;
            height: 34px;
            padding-right: 5px;

            margin-bottom: 240px;

        }

        .btn-primary {
            padding: 10px 32px;
            font-size: 12px;
            line-height: 14px;
            width: 149px;
        }

    }

    .about-product {
        &__title {

            .first-line,
            .second-line {
                font-weight: 500;
                font-size: 25px;
                line-height: 32px;
            }

            .first-line {
                padding-left: 10px;
            }

            .title-atr {
                left: 227px;
            }

            .second-line {
                padding-left: 39px;
            }

        }

        &::before {
            display: none;
        }

        &__slider {

            margin-top: 0px;

            .slick-arrow {
                top: 280px;

                &.slick-prev {
                    left: 20%;
                }

                &.slick-next {
                    left: 80%;
                }
            }

            .slick-list {
                padding-left: 25px;
            }


            .img-card {
                width: 103px;
                height: 109px;
                border-radius: 10px;
                margin-top: 88px;
                margin-bottom: 0;


            }

            .img-fluid {
                padding: 0;
            }

            .text-card {
                margin-left: 0px;
                margin-top: 88px;
                width: 0;

                .number-card {

                    font-size: 10px;
                    line-height: 13px;
                    margin-bottom: 0;
                }

                .title-card {
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 10px;
                }

                .description_card {

                    font-size: 10px;
                    line-height: 12px;
                    margin-left: 0;
                }
            }

            .first-card {
                width: 310px;

                .img-card {
                    transform: rotate(0);
                }

                .title-card {
                    width: 174px;
                }

                .description_card {
                    width: 173px;
                }

                &::before {
                    width: 1646px;
                    height: 263px;
                    top: 8px;
                    left: -102px;
                }
            }

            .second-card {
                width: 310px;

                .img-card {
                    transform: rotate(0);
                }

                .title-card {
                    width: 174px;
                }

                .description_card {
                    width: 173px;
                }
            }

            .third-card {
                width: 310px;

                .img-card {
                    transform: rotate(0);
                }

                .title-card {
                    width: 174px;
                }

                .description_card {
                    width: 173px;
                }
            }

            .fourth-card {
                width: 310px;

                .img-card {
                    transform: rotate(0);
                }

                .title-card {
                    width: 183px;
                }

                .description_card {
                    width: 185px;
                }
            }

            .fifth-card {
                width: 310px;

                .img-card {
                    transform: rotate(0);
                }

                .title-card {
                    width: 174px;
                }

                .description_card {
                    width: 173px;
                }

                &::after {
                    display: none;
                }
            }



        }
    }

    .equipment {
        margin-top: 90px;

        &__title {
            font-size: 25px;
            line-height: 32px;
            margin-bottom: 40px;
            margin-top: 40px;
            width: 298px;

            &::before {
                font-size: 10px;
                line-height: 12px;
                bottom: 35px;
                left: 39px;
            }

            &::after {
                font-size: 10px;
                line-height: 12px;
                top: 27px;
                right: -110px;
            }
        }

        &__tablet {

            justify-content: space-around;

            .equipment-item {
                width: 140px;

                &__title {}

                &__img {
                    bottom: 89px;
                    width: 62px;

                    &.narrow {
                        height: 57px;
                        width: 35px;
                    }
                }


                &__description {
                    font-size: 10px;
                    line-height: 12px;
                }

            }
        }

        .btn-primary {
            font-size: 12px;
            line-height: 14px;
            padding: 10.5px 32px;
            width: 117px;
        }

        &-border-bottom {
            // background-size: 100%;
            margin: 10px 0 -5px;
            height: 55px;
        }

    }

    .catalog {
        &__title {
            padding-top: 25px;
            font-size: 25px;
            line-height: 32px;
            margin-bottom: 10px;
        }

        &__tabs {
            .nav-tabs {
                width: 320px;
                border-bottom: none;
                padding-right: 20px;
                margin-bottom: 10px;


                .nav-link {
                    font-size: 12px;
                    line-height: 14px;
                    width: 300px;
                    margin-bottom: 10px;
                    &.active {
                        width: 50%;
                    }
                    
                }


            }

            .tab-content{
                padding-left: 20px;
                .product-item{
                    height: 255px;
                    margin-bottom: 20px;
                    margin-right: 10px;
                    max-width: 140px;
                    padding-left: 0;
                    padding-right: 0;
                    
                }
                .product-img{
                    height: 140px;
                    width: 140px;
                    margin-bottom: 10px;
                }

                .product-title{
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 4px;
                }

                .product-descriptions{
                    font-size: 8px;
                    line-height: 10px;
                    max-width: 140px;
                    margin-bottom: 20px;
                }

                .btn-primary{
                    font-size: 11.2px;
                    line-height: 13px;
                    padding: 9px 22px;
                }
            }



        }
    }

    .offers{
        padding-top: 60px;
        padding-bottom: 121px;
        &::before{
            width: 570px;
            height: 91px;
            background-size: 100%;
            left: -138px;
            top: 59px;
        }
        &::after{
            width: 320px;
            bottom: -237px;
            
        }
        &__title{
            font-size: 25px;
            line-height: 32px;
            margin-bottom: 31px;
        }

        .first-card,
        .second-card,
        .third-card,
        .fourth-card {
            width: 300px;
            height: 175px;
            margin-bottom: 20px;
            padding: 20px;

            .card-descriptions{
                font-size: 12px;
                margin-bottom: 29px;
            }

            .card-link{
                font-size: 8px;
                line-height: 10px;
                margin-left: 200px;
                padding: 21px 6px;;
                color: $primary-color;
                border-radius: 50%;
                background-color: $secondary-color;
            }
        }

        .fourth-card{
            background: url(assets/img/offers__fourth-card-back_phone.png) center no-repeat,white;
            background-size: 100%;
            .card-descriptions{
                margin-bottom: 0;
            }
            .card-link{
                margin-top: -10px;
                background-color: $white;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
                
            }
        }


    }

    .video-instruction{
        padding-top: 65px;

        &__title{
            font-size: 18px;
            line-height: 23px;
            max-width: 243px;

            &::before{
                width: 86px;
                height: 113px;
                left: 200px;
            }
        }

        &__description{
            font-size: 12px;
            line-height: 14px;
            max-width: 300px;
            margin-left: 0;
        }

        .video{
            img{
                width: 300px;
                height: 170px;

                
            }

            &::before{
                    left: 118px;
                }
        }
    }
}
