@media screen and (max-width: 575px) {
    header {
        .navbar {

            &-logo {
                margin-left: 0;
                width: 92px;
                height: 29px;
                background-size: 100%;
            }

            &-toggler {
                height: 26px;
                width: 26px;
            }

            &-basket {
                margin-right: 0;
                top: 17px;
                right: 50px;
                position: fixed;
                z-index: 1;
                height: 26px;
                width: 26px;

                &::before {
                    top: 6px;
                    left: 6px;
                    height: 15px;
                    width: 14px;
                    background-size: 100%;
                }


            }
        }
    }

    .modal {
        .carousel {
            width: 285px;


            &-inner {
                margin-top: -35px;
            }

            &-item {
                width: 280px;
                height: 295px;

                iframe {
                    width: 280px;
                    height: 295px;
                    border-radius: 14px;
                }

                img {
                    width: 280px;
                    height: 295px;
                    border-radius: 14px;
                }
            }

            &-indicators {
                bottom: -60px;


                button.img-min {
                    border-radius: 7px;
                    width: 40px;
                    height: 19px;

                }

            }
        }

        .product-text {
            margin-top: -35px;
            padding-left: 30px;

            .product-name {
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 5px;
            }

            .age-restrictions {
                font-size: 14px;
            }

            .product__description {
                p {
                    font-size: 14px;
                }
            }
        }

    }

    .first-screen {
        height: 565px;
        background: url(assets/img/firstscreen-back_phone.png) center/100% no-repeat;
        margin-top: -87px;
        padding-top: 56px;

        .container {
            padding-left: 10px;
            padding-right: 10px;

        }

        &__title {
            font-size: 25px;
            line-height: 32px;
            width: 298px;
            margin-top: 44px;
            margin-bottom: 10px;

            &::before {
                top: 15px;
                left: 270px;
                background-size: 50%;
            }

            &::after {
                top: 32px;
                left: 252px;
                background-size: 30%;
            }
        }

        &__descreption {
            font-size: 14px;
            line-height: 17px;
            width: 308px;
            height: 34px;
            padding-right: 5px;

            margin-bottom: 240px;

        }

        .btn-primary {
            padding: 10px 32px;
            font-size: 12px;
            line-height: 14px;
            width: 149px;
        }

    }

    .about-product {
        &__title {

            .first-line,
            .second-line {
                font-weight: 500;
                font-size: 25px;
                line-height: 32px;
            }

            .first-line {
                padding-left: 10px;
            }

            .title-atr {
                left: 227px;
                width: 66px;

            }

            .second-line {
                padding-left: 39px;
            }

        }

        &::before {
            display: none;
        }

        &__slider {

            margin-top: 0px;

            .slick-arrow {
                top: 280px;

                &.slick-prev {
                    left: 20%;
                }

                &.slick-next {
                    left: 80%;
                }
            }

            .slick-list {
                padding-left: 25px;
            }


            .img-card {
                width: 103px;
                height: 109px;
                border-radius: 10px;
                margin-top: 88px;
                margin-bottom: 0;


            }

            .img-fluid {
                padding: 0;
            }

            .text-card {
                margin-left: 0px;
                margin-top: 88px;
                width: 0;

                .number-card {

                    font-size: 10px;
                    line-height: 13px;
                    margin-bottom: 0;
                }

                .title-card {
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 10px;
                }

                .description_card {

                    font-size: 10px;
                    line-height: 12px;
                    margin-left: 0;
                }
            }

            .first-card {
                width: 310px;

                .img-card {
                    transform: rotate(0);
                }

                .title-card {
                    width: 174px;
                }

                .description_card {
                    width: 173px;
                }

                &::before {
                    width: 1646px;
                    height: 263px;
                    top: 8px;
                    left: -102px;
                }
            }

            .second-card {
                width: 310px;

                .img-card {
                    transform: rotate(0);
                }

                .title-card {
                    width: 174px;
                }

                .description_card {
                    width: 173px;
                }
            }

            .third-card {
                width: 310px;

                .img-card {
                    transform: rotate(0);
                }

                .title-card {
                    width: 174px;
                }

                .description_card {
                    width: 173px;
                }
            }

            .fourth-card {
                width: 310px;

                .img-card {
                    transform: rotate(0);
                }

                .title-card {
                    width: 183px;
                }

                .description_card {
                    width: 185px;
                }
            }

            .fifth-card {
                width: 310px;

                .img-card {
                    transform: rotate(0);
                }

                .title-card {
                    width: 174px;
                }

                .description_card {
                    width: 173px;
                }

                &::after {
                    display: none;
                }
            }



        }
    }

    .equipment {
        margin-top: 90px;
        height: 1400px;

        &__title {
            font-size: 25px;
            line-height: 32px;
            margin-bottom: 40px;
            margin-top: 40px;
            width: 298px;

            &::before {
                font-size: 14px;
                line-height: 16px;
                bottom: 35px;
                left: 39px;
            }

            &::after {
                font-size: 14px;
                line-height: 16px;
                top: 27px;
                right: -90px;
            }
        }

        &__tablet {

            justify-content: space-around;

            .equipment-item {

                img {
                    &.equipment-item__title {
                        width: 140px;
                    }
                }

                &__img {
                    bottom: 89px;
                    width: 62px;


                    &.narrow {
                        height: 57px;
                        width: 35px;
                    }
                }


                &__description {
                    font-size: 15px;
                    line-height: 120%;
                }

            }
        }

        .btn-primary {
            font-size: 12px;
            line-height: 14px;
            padding: 10.5px 32px;
            width: 117px;
        }

        &-border-bottom {
            // background-size: 100%;
            margin: 10px 0 -5px;
            height: 55px;
        }

        &__border-img {
            display: none;
        }

        &__border-bottom {
            margin-top: -295px;
            background-size: 120%;
        }
    }

    .catalog {
        &__title {
            padding-top: 25px;
            font-size: 25px;
            line-height: 32px;
            margin-bottom: 10px;
        }

        &__tabs {
            .nav-tabs {
                width: 320px;
                border-bottom: none;
                padding-right: 20px;
                margin-bottom: 10px;


                .nav-link {
                    font-size: 12px;
                    line-height: 14px;
                    width: 300px;
                    margin-bottom: 10px;

                    &.active {
                        width: 50%;
                    }

                }


            }

            .tab-content {
                padding-left: 20px;

                .product-item {
                    height: 255px;
                    margin-bottom: 20px;
                    margin-right: 10px;
                    max-width: 140px;
                    padding-left: 0;
                    padding-right: 0;

                }

                .product-img {
                    height: 140px;
                    width: 140px;
                    margin-bottom: 10px;
                }

                .product-title {
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 4px;
                }

                .product-descriptions {
                    font-size: 8px;
                    line-height: 10px;
                    max-width: 140px;
                    margin-bottom: 20px;
                }

                .btn-primary {
                    font-size: 11.2px;
                    line-height: 13px;
                    padding: 9px 47px;
                }
            }



        }
    }

    .offers {
        padding-top: 60px;
        padding-bottom: 121px;
        margin-top: -1px;

        &::before {
            width: 570px;
            height: 91px;
            background-size: 100%;
            left: -138px;
            top: 59px;
        }

        &::after {
            width: 320px;
            bottom: -237px;

        }

        &__title {
            font-size: 25px;
            line-height: 32px;
            margin-bottom: 31px;
        }

        .first-card,
        .second-card,
        .third-card,
        .fourth-card {
            width: 300px;
            height: 175px;
            margin-bottom: 20px;
            padding: 20px;

            .card-descriptions {
                font-size: 12px;
                margin-bottom: 29px;
            }

            .card-link {
                font-size: 8px;
                line-height: 10px;
                margin-left: 200px;
                padding: 21px 6px;
                ;
                color: $primary-color;
                border-radius: 50%;
                background-color: $secondary-color;
            }
        }

        .third-card,
        .fourth-card {
            margin-left: -15px;
        }

        .fourth-card {
            background: url(assets/img/offers__fourth-card-back_phone.png) center no-repeat, white;
            background-size: 100%;

            .card-descriptions {
                margin-bottom: 0;
            }

            .card-link {
                margin-top: -10px;
                background-color: $white;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

            }
        }


    }

    .video-instruction {
        padding-top: 65px;
        margin-bottom: 50px;

        &__title {
            font-size: 18px;
            line-height: 23px;
            max-width: 243px;

            &::before {
                width: 86px;
                height: 113px;
                left: 200px;
                top: -57px;
            }
        }

        &__description {
            font-size: 12px;
            line-height: 14px;
            max-width: 300px;
            margin-left: 0;
            margin-bottom: 20px;
        }

        .video {
            img {
                width: 300px;
                height: 170px;


            }

            &::before {
                left: 118px;
            }
        }

        iframe {
            width: 300px;
            height: 170px;

        }
    }

    .reviews {

        &__img-back {
            display: none;
        }

        &__title {
            margin-bottom: -70px;
            margin-top: 40px;

            h2 {
                font-size: 25px;
                line-height: 32px;
            }

            .first-row {
                padding: 0;

            }

            .second-row {
                padding-left: 85px;
            }

            img.title-atr {
                left: 200px;
                bottom: 121px;
                width: 66px;
            }
        }

        &__items {
            max-width: 300px;
            height: 525px;

            .reviews__item {
                margin: 0;

                img {
                    width: 200px;
                }

                .reviews__text {
                    font-size: 10px;
                    line-height: 12px;
                    padding: 6px 20px;
                    z-index: 1;
                }

                &.first {
                    right: 15px;

                    .reviews__text {
                        width: 180px;
                        bottom: 190px;
                        left: 30px;
                    }
                }

                &.second {
                    top: -267px;
                    right: -115px;

                    .reviews__text {
                        width: 160px;
                        bottom: 119px;
                        right: -2px;
                    }
                }

                &.third {
                    right: 12px;
                    bottom: 400px;

                    .reviews__text {
                        width: 155px;
                        bottom: 140px;
                        left: 35px;
                    }
                }

                &.fourth {
                    bottom: 604px;
                    left: 109px;

                    .reviews__text {
                        width: 179px;
                        bottom: 78px;
                        left: -9px;
                    }
                }

                &.fifth {
                    bottom: 701px;
                    left: -22px;

                    .reviews__text {
                        bottom: 167px;
                        left: 55px;
                        width: 189px;
                    }
                }

                &.sixth {
                    bottom: 950px;
                    left: 107px;

                    .reviews__text {
                        bottom: 75px;
                        left: 27px;
                        width: 138px;
                    }
                }

            }

        }

        &__buttons {
            margin: 0;

            .btn-primary {
                margin-right: 5px;
                font-size: 12px;
                line-height: 14px;
                padding: 11px 30px;

            }

            .btn-link {

                display: none;

                &.mobile {
                    display: inline-block;
                    width: 50px;
                    font-size: 12px;
                    line-height: 14px;
                    text-decoration: underline;



                }
            }

        }
    }

    .about-person {
        padding-top: 50px;
        padding-bottom: 40px;

        &__title {
            h2 {
                font-size: 25px;
                line-height: 32px;
            }

            .first-row {
                padding-right: 0;
                padding-left: 20px;

            }

            .second-row {
                padding-left: 140px;
            }

            &::before {
                background-size: 100%;
                width: 82px;
                bottom: 19px;
                left: 218px;
                display: none;
            }
        }

        &__img {
            height: 295px;

            .person-photo {
                padding-left: 0;
                transform: rotate(-5.3deg);
                padding-right: 40px;
            }

            .person-photo-atr {
                bottom: 258px;
                left: 191px;
                width: 125px;

            }
        }

        &__text {
            p {
                font-size: 12px;
            }

            .social-links {
                &__title {
                    font-size: 12px;
                    line-height: 14px;
                }

                .links {
                    a {
                        img {
                            width: 35px;
                            height: 35px;
                        }
                    }
                }

            }
        }
    }

    .faq {
        padding-top: 10px;
        margin-top: -1px;

        &__title {
            font-weight: 500;
            font-size: 25px;
            line-height: 140%;
        }

        .accordion {
            margin-bottom: 40px;

            &-button {
                font-weight: 500;
                font-size: 15px;
                line-height: 120%;
            }
        }

        &-form {
            &__title {
                margin-left: 0;
                text-align: center;
                font-size: 25px;
                line-height: 140%;

                &-atr {
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    max-width: 265px;
                }
            }

            .form-row {
                flex-direction: column;
                padding-right: 0;

                input,
                .form-control {
                    margin-bottom: 20px;
                }

                .btn-primary {
                    width: 296px;
                }

                .btn-atr {
                    text-align: center;
                    margin-right: 0;
                    margin-left: 0;
                    margin-top: 0;
                    max-width: 280px;
                    padding-left: 15px;

                }
            }
        }
    }

    .footer {

        &__items {
            height: 630px;
            padding: 30px;

            .footer__navbar {
                margin-top: 150px;

                &-title {
                    display: none;
                }

                .navbar-items {
                    display: block;

                    ul {
                        margin-bottom: 0px;

                        li {
                            margin-bottom: 10px;
                        }
                    }
                }

            }

            .product-logo {
                margin-top: -785px;
                max-width: 75%;
                margin-left: auto;
                margin-right: auto;
            }

            .social-links {
                margin-top: -955px;
            }

            .footer__contacts {
                font-weight: 400;
                font-size: 25px;
                line-height: 48px;
                padding-top: 0;
                text-align: center;
                max-width: 300px;
                margin-left: -10px;
            }

            .legal-info {
                margin-top: 10px;
            }
        }

    }

    .basket-modal {
        .modal-content{
            padding: 20px;
            .modal-body {
            .product-item {
                .mobile-column{
                    max-width: 100px;
                }
                .product-img{
                    margin-right: 5px;
                }
                &__name {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    max-width: 280px;
                }
                .product-type{
                    padding-left: 10px;
                }

                .price{
                    font-size: 16px;
                }
            }

            .amount{
                margin-top: 10px;
                &-title{
                    font-size: 20px;
                }
                &-price{
                    font-size: 20px;
                }
            }

            input[type="radio"] + label:before {
                margin-right: 2px;
            }

            .form-about-buyer form input.coupon{
                width: 50%;
            }

            .form-about-buyer form .accept-btn {
                width: 50%;
                height: 49px;
            }

            .total-price__money{
                h2.title{
                    font-size: 20px;
                }
                .price{
                    font-size: 20px;
                }
            }
        }
        }
        

    }

    .discount-modal {
        .modal-body {
            .discount-form {
                padding: 10px;
            }
        }

    }


}
