@media screen and (max-width: 1199px) {
    header{
        .navbar-logo{
            margin-left: 60px;

        }

        .navbar-basket{
            margin-right: 60px;
        }
    }

    .firstscreen{
        height: 1069px;
        
    }
}
