/* === BEGIN FONTS === */

@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SFProDisplay-Light.woff') format('woff');
    font-weight: 300; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SFProDisplay-Black.woff') format('woff');
    font-weight: 900; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SFProDisplay-Bold.woff') format('woff');
    font-weight: 700; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FoglihtenNo06';
    src: url('./assets/fonts/FoglihtenNo06_076.otf') format('opentype');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}


/* === END FONTS === */