.footer {
    background: $primary-color;
    padding-top: 75px;
    padding-bottom: 20px;

    &__items {
        background: white;
        border-radius: 30px;
        height: 330px;
        padding: 60px;
        background-image: url(assets/img/footer__back-img.png);

        .footer__navbar {
            transform: translate(-390px, 0);
            opacity: 0;
            transition: all 0.9s ease 0s;

            

            &-title {
                font-family: $font-secondary;
                font-weight: 500;
                font-size: 24px;
                line-height: 31px;
                text-transform: uppercase;
                color: $primary-color;
            }

            .navbar-items {
                display: flex;
                flex-direction: row;

                ul {
                    li.nav-item {
                        padding-left: 0;

                        .nav-link {
                            padding: 0;
                            color: $primary-color;
                            font-family: $font-primary;
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 140%;



                        }

                        &::before {
                            display: none;
                        }



                    }


                }
            }


        }
.footer__navbar._active{
                transform: translate(0 , 0);
                opacity: 1;
            }
        .product-logo {
            margin-top: -100px;
            transform: translate(0 , -90px);
        opacity: 0;
        transition: all 0.9s ease 0s;

        }
        .product-logo._active{
            transform: translate(0 , 0);
            opacity: 1;
        }

        .footer__contacts {
            font-family: $font-primary;
            font-weight: 400;
            font-size: 36px;
            line-height: 48px;
            text-align: right;
            letter-spacing: -2px;
            text-transform: uppercase;
            padding-top: 40px;

            transform: translate(390px , 0);
        opacity: 0;
        transition: all 0.9s ease 0s;


        }

        .footer__contacts._active{
            transform: translate(0 , 0);
            opacity: 1;
        }

        .legal-info {

            font-family: $font-primary;
            font-weight: 300;
            font-size: 12px;
            line-height: 22px;
            color: $primary-color;
            text-align: start;
            margin-top: 58px;
            transform: translate(-190px , 30px);
        opacity: 0;
        transition: all 0.9s ease 0s;


            ul {
                li {
                    a {
                        text-decoration: none;
                    }

                    padding-left: 0;

                    &::before {
                        display: none;
                    }
                }
            }


        }

        .legal-info._active{
            transform: translate(0 , 0);
            opacity: 1;
        }

        .social-links {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            transform: translate(0 , 30px);
        opacity: 0;
        transition: all 0.9s ease 0s;


            a {
                margin: 3px;
                text-decoration: none;



            }
        }

        .social-links._active{
            transform: translate(0 , 0);
            opacity: 1;
        }
    }




}
