header {
    height: 7vh;
    padding: 15px 0;
    background: transparent;

    a {
        color: rgb(163, 163, 163);


    }

    .navbar {
		padding: 0;
        &-logo {
            height: 38px;
            width: 120px;
            background: url(assets/img/product_logo.svg);
            margin-left: 120px;
			
            

        }
		&-toggler{
			background: $secondary-color;
			border-radius: 50%;
			height: 32px;
			width: 32px;
			padding: 0;
			&-icon{
				width: 14px;
				height: 20px;
				background: url(assets/img/icon-toggler.svg) no-repeat center;
			}
            &:hover{
				box-shadow: 0px 10px 15px rgba(255, 225, 103, 0.2);
				background-color: #FBD32F;

			}
		}
        &-nav {
            width: 700px;
            justify-content: center;
			margin-left: auto;
			margin-right: auto;




            li {
                &::before {
                    display: none;
                }
            }

            .nav-item {
                padding-left: 0;
				margin-right: 30px;

                .nav-link {
                    color: $body-color;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 14px;
					

                    &:before {
                        content: "";
                        position: absolute;
                        top: 90%;
                        left: 50%;
                        transform: translate(-50%, 0);
                        height: 1px;
                        width: 0;
                        background: $body-color;
                        border-radius: 5px;
                        transition: .3s;
                    }



                    &:hover {
                        text-decoration: none;

                        &:before {
                            width: 75%;
                        }
                    }
                }
            }

        }

		&-basket{
			width: 32px;
			height: 32px;
			border-radius: 50%;
			background: $secondary-color;
			position: relative;
			margin-right: 120px;
			


			
			&::before{
				content: "";
				position: absolute;
				top: 8px;
				left: 8px;
				height: 17px;
				width: 16px;
				background: url(assets/img/icon-bascet.svg) center no-repeat;

			}
				
			&:hover{
				box-shadow: 0px 10px 15px rgba(255, 225, 103, 0.2);
				background-color: #FBD32F;

			}

		}


    }

}
