<section class="about-person" id="about-person">
    <div class="container">
        <div class="about-person__title">
            <h2 class="first-row">о мастерской</h2>
            <h2 class="second-row">Alice & CAT</h2>
        </div>
        <div class="row">
            <div class=" about-person__img col-lg-6">
                <img src="assets/img/person-photo.png" alt="person__photo" class="person-photo img-fluid">
                <img src="assets/img/person-photo-atr.png" alt="person__photo-atr" class="person-photo-atr img-fluid">
            </div>
                    <div class="about-person__text col-lg-6">
                        <p>Друзья! Мы создали дома, которые сами всей мастерской обожаем. В каждом из них есть своя уникальная деталь: будь это тайная комнатка под крышей, или дымящаяся труба, или вращающаяся витрина, или действующий портал в камине!
                            <br><br>
                            Мы вручную отрисовали все инструкции так, что они похожи на комиксы! К каждому домику-конструктору сняли краткий и емкий видео мастер-класс, поэтому даже если вы далеки от творчества, то справитесь со сборкой.
                            <br><br>
                            Также создали свои фирменные краски с аутентичными названиями, один «котиковый цвет» чего стоит! В каждом наборе вас ждут подарки: наша фирменная открытка, нарисованная голландской художницей, домик-магнит и волшебное стеклышко на счастье, чтобы носить в кармане. Домики упаковываем в красивые крафтовые коробки с логотипом, поэтому их сразу можно дарить. Определенно, Alice & Cat — это больше, чем конструктор, enjoy!</p>

                            <div class=" social-links col-lg-9 ">
                                <div class="social-links__title">Присоединяйтесь!</div>
                                <div class="links">
                                    <a href="#">
                                        <img src="assets/img/telegram-icon.svg" alt="telegram-icon" >
                                    </a>
                                    <a href="#">
                                        <img src="assets/img/viber-icon.svg" alt="" >
                                    </a>
                                    <a href="#">
                                        <img src="assets/img/vk-icon.svg" alt="" >
                                    </a>
                                </div>
                                
                            </div>
                    </div>
                
            </div>
        </div>
</section>
