<section class="about-product" id="about-product">
    <div class="about-product__title">
        <h1 class="first-line">наши домики</h1>
        <img src="assets/img/about-product_title-atr.svg" alt="about-product__title-atr" class="title-atr img-fluid ">
        <h1 class="second-line" >для того, чтобы...</h1>
    </div>


    <div class="about-product__slider">
        <div class="first-card ">
            <div class="row">
                <img src="assets/img/about-product_card-img1.png" alt="" class="img-fluid img-card col-lg-6">
                <div class="text-card col-lg-5">
                    <div class="number-card">01</div>
                    <div class="title-card">С головой погрузиться во вселенную гарри поттера</div>
                    <div class="description_card">Домики идеально вписываются в любой интерьер за счет уникального дизайна, а свечение создает уютную атмосферу</div>
                </div>
                
            </div>

        </div>
        <div class="second-card ">
            <div class="row">
                <img src="assets/img/about-product_card-img2.png" alt="" class="img-fluid img-card col-lg-6">
                <div class="text-card col-lg-5">
                    <div class="number-card">02</div>
                    <div class="title-card">интересно провести
                        время с близкими </div>
                    <div class="description_card">Собирайте домики вместе с детьми или родными. Сами создавайте яркие воспоминания и сохраняйте на память в виде уютного домика!</div>
                </div>
            </div>

        </div>
        <div class="third-card ">
            <div class="row">
                <img src="assets/img/about-product_card-img3.png" alt="" class="img-fluid img-card col-lg-6">
                <div class="text-card col-lg-5">
                    <div class="number-card">03</div>
                    <div class="title-card">расслабиться с чашечкой какао за спокойным медитативным занятием

                    </div>
                    <div class="description_card">За 3-5 вечеров вы своими руками из простых деталей, уникальных красок и инструкции-комикса соберете сказочный светящийся домик. Настоящая арт-терапия!

                    </div>
                </div>
            </div>
        </div>
        <div class="fourth-card">
            <div class="row">
                <img src="assets/img/about-product_card-img4.png" alt="" class="img-fluid img-card col-lg-6">
                <div class="text-card col-lg-5">
                    <div class="number-card">04</div>
                    <div class="title-card">Создать своими руками уютный атмосферный светильник, который каждый вечер будет вас радовать

                    </div>
                    <div class="description_card">С помощью наших подробных инструкций и наглядных видео. Конструктор могут собрать дети от 12 лет и взрослые любого возраста!

                    </div>
                </div>
            </div>
        </div>
        <div class="fifth-card">
            <div class="row">
                <img src="assets/img/about-product_card-img5.png" alt="" class="img-fluid img-card col-lg-6">
                <div class="text-card col-lg-5">
                    <div class="number-card">05</div>
                    <div class="title-card">Сделать близким необычный подарок

                    </div>
                    <div class="description_card">Готовый домик для любителей эстетики или домики-конструкторы для любителей творчества. Такой подарок впечатлит любого, кто устал от банальных сувениров
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</section>
