<section class="catalog" id="catalog">
    <div class="container">
        <h1 class="catalog__title">Каталог домиков</h1>
        <div class="catalog__tabs">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-harry-potter" type="button" role="tab" aria-controls="nav-harry-potter" aria-selected="true">Гарри Поттер</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-europe" type="button" role="tab" aria-controls="nav-europe" aria-selected="false">Европа</button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-all" type="button" role="tab" aria-controls="nav-all" aria-selected="false">Все домики</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-harry-potter" role="tabpanel" aria-labelledby="nav-harry-potter-tab">
                    <div class="row">
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_1.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>
                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_2.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_3.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_4.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_5.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_6.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_7.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_8.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-europe" role="tabpanel" aria-labelledby="nav-europe-tab">
                    <div class="row">
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_1.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>
                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_2.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_3.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_4.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_5.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_6.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_7.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_8.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                    <div class="row">
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_1.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>
                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_2.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_3.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_4.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_5.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_6.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_7.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                        <div class="col-lg-3 product-item">
                            <img class="product-img img-fluid" src="assets/img/product-img_8.png" alt="product-img">
                            <h3 class="product-title">Совиная лавка</h3>
                            <div class="product-descriptions">Светильник конструктор «Совиная Лавка» по мотивам «Гарри Поттера»</div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Узнать стоимость
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
