<section class="equipment" id="equipment">
    <div class="container">
        <h1 class="equipment__title">домики-конструкторы</h1>
        <div class="equipment__tablet row ">
            <div class="equipment-item col-lg-4">
                <img src="assets/img/equipment_title-img1.png" class="equipment-item__title img-fluid" alt="equipment_title-img"></img>
                <img src="assets/img/equipment_img1.png"  class="equipment-item__img img-fluid" alt="equipment_img"><img>
                <div class="equipment-item__description" style="max-width: 204px ;">Каждый домик — результат кропотливого труда автора и он действительно уникален!</div>
            </div>
            <div class="equipment-item mt-4 col-lg-4">
                <img src="assets/img/equipment_title-img2.png" class="equipment-item__title img-fluid" alt="equipment_title-img"></img>
                <img src="assets/img/equipment_img2.png"  class="equipment-item__img img-fluid" alt="equipment_img"><img>
                <div class="equipment-item__description" style="max-width: 289px ;">В набор входит полный комплект инструментов, ничего не нужно докупать. А если что-то сломается — мы бесплатно вышлем вам деталь на замену</div>
            </div>
            <div class="equipment-item col-lg-4">
                <img src="assets/img/equipment_title-img3.png" class="equipment-item__title img-fluid" alt="equipment_title-img"></img>
                <img src="assets/img/equipment_img3.png"  class=" narrow equipment-item__img img-fluid" alt="equipment_img"><img>
                <div class="equipment-item__description" style="max-width: 277px ;">Как передать оттенок старинной кладки? Или придать бронзе блеск металла? Об этом мы позаботились и создали наши фирменные краски!</div>
            </div>
            <div class="equipment-item col-lg-4">
                <img src="assets/img/equipment_title-img5.png" class="equipment-item__title img-fluid" alt="equipment_title-img"></img>
                <img src="assets/img/equipment_img4.png"  class="equipment-item__img img-fluid" alt="equipment_img"><img>
                <div class="equipment-item__description" style="max-width: 277px ;">В комплекте идет интереснейшая инструкция, нарисованная от руки, со встроенным QR-кодом – со ссылкой на видеокурс по созданию домика</div>
            </div>
            <div class="equipment-item col-lg-4">
                <img src="assets/img/equipment_title-img5.png" class=" equipment-item__title img-fluid" alt="equipment_title-img"></img>
                <img src="assets/img/equipment_img5.png"  class=" narrow equipment-item__img img-fluid" alt="equipment_img"><img>
                <div class="equipment-item__description" style="max-width: 330px ;">Светильник работает от сети, есть выключатель, длина провода — 2 м. Лампочка энергоемкая и не нагревается. Можете смело оставлять светильник включенным на ночь</div>
            </div>
            <div class="equipment-item col-lg-4">
                <img src="assets/img/equipment_title-img6.png" class="equipment-item__title img-fluid" alt="equipment_title-img"></img>
                <img src="assets/img/equipment_img6.png"  class="equipment-item__img img-fluid" alt="equipment_img"><img>
                <div class="equipment-item__description" style="max-width: 316px ;">Все наборы собраны с любовью и упакованы в стильные брендированные коробочки с фирменной открыткой и магнитиком. Такой набор можно сразу дарить</div>
            </div>
        </div>
        
        
    </div>
    <div class="equipment__border-img"></div>
    <div class="equipment__border-bottom"></div>
</section>
