<section class="faq" id="faq">
    <div class="container">
        <h2 class="faq__title">
            нас часто спрашивают...
        </h2>

        <div class="accordion faq__accordion" id="accordion-faq">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Я получу готовый домик? Или в разобранном виде?
                </button>
              </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Вы можете купить набор деталей или готовый домик. В набор-конструктор входит полный комплект деталей, красок, материалов, принтов и инструментов, необходимых для создания домика-светильника. Если вы не хотите собирать домик, то заказывайте готовый. Он надёжно склеен, окрашен и прослужит поколениям, если бережно с ним обращаться.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Что входит в комплект домика-конструктора?
                </button>
              </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        • Деревянные детали домиков, вырезанные из качественного березового шпона (если есть открывающиеся дверки, петли к ним уже прикручены);<br>
                        • Стеклышки из специального небьющегося материала;<br>
                        • Краски уже готовых сложных оттенков, чтобы домик получился, как на картинке;<br>
                        • Кисти, клей двух видов, наждачная бумага, воск, канцелярский нож и другие дополнительные инструменты, с которыми удобно собирать набор;<br>
                        • Открытка с изображением домика из набора;<br>
                        • Готовый блок электрики, который вы просто вклеиваете в конце. В него входит светодиодная лампа, которая не нагревается при использовании, патрон на специальном основании и провод 2 м с выключателем по середине;<br>
                        • Простая и понятная инструкция по сборке;<br>
                        • В инструкцию встроен qr-код – ссылка на короткий понятный видеоурок по созданию домика; • Стильная крафтовая упаковка, в который набор можно дарить. Внутри набора две красивых фирменных открытки, магнитик-домик и стеклянный камешек на счастье!
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Как заказать домик?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion-faq">
                    <div class="accordion-body">
                        Для того,чтобы купить понравившийся вам набор или домик, просто добавьте его в корзину, выберите удобный вам тип доставки и свои данные для курьерской службы. Оплатите заказ онлайн любым удобным для вас способом. Как только заказ будет передан в службу доставки, вам придёт трек-номер и ссылка для отслеживания посылки.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Я ничего не понимаю в электрике, у меня получится светящийся домик?
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordion-faq">
                    <div class="accordion-body">
                        Вам не нужно возиться с проводами, не нужно ничего прикручивать или паять. Вы просто вклеиваете в домик специальный блок электрики, который уже есть в наборе.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Расскажите про варианты оплаты и доставки
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordion-faq">
                    <div class="accordion-body">
                        Мы работаем с транспортными компаниями СДЭК, DHL и Почта России. Вы можете выбрать удобную для вас компанию и тип доставки: до пункта выдачи или до двери. Отправка в течение 1-2 рабочих дней. Оплата производится через платежную систему Яндекс-касса любым удобным для вас способом. После оформления заказа вы получите чек об оплате по электронной почте.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Какие есть гарантии?
            </button>
          </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordion-faq">
                    <div class="accordion-body">
                        Право на возврат у Покупателя в срок – в любое время до его передачи, а после передачи товара – в течение семи дней (п. 4 ст. 26.1. Закона РФ № 2300-1 «О Защите прав потребителей», п.41 Постановления Правительства РФ от 31.12.2020 № 2463).Если у Товара сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара. Отсутствие у потребителя документа, подтверждающего факт и условия покупки товара, не лишает его возможности ссылаться на другие доказательства приобретения товара у Продавца (п. 4 ст. 26.1. Закона РФ № 2300-1 «О Защите прав потребителей»).
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-form" id="question form">
            <h3 class="faq-form__title ">Остались вопросы?</h3>
            <div class="faq-form__title-atr">Заполните форму ниже, и с вами свяжется сотрудник мастерской</div>
            <form>
                <div class="form-row">
                    <div class="col-lg-3">
                        <input type="text" id="fname" name="fname" placeholder="Ваше имя">
                    </div>
                    <div class="col-lg-3">
                        <input type="tel" id="telephone" name="telephone" placeholder="+7 (000) 00-00-00" class="custom-class" maxlength="17">
                    </div>
                    <div class="col-lg-4">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Задайте ваш вопрос"></textarea>
                    </div>
                    <div class="col-lg-1">
                        <input type="button" class="btn btn-primary" value="Отправить">
                        <div class="btn-atr">Нажимая на кнопку «Отправить», вы соглашаетесь с политикой конфиденциальности</div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
