<footer class="footer" id="footer">
    <div class="container">
        <div class="footer__items">
            <div class="row ">
                <div class="col-lg-5 footer__navbar">
                    <h3 class="footer__navbar-title">Карта сайта</h3>
                    <div class="navbar-items">
                        <div class="col-lg-5">
                            <ul>
                                <li class="nav-item"><a class="nav-link" href="#">Главная</a></li>
                                <li class="nav-item"><a class="nav-link" href="#offers">Акции</a></li>
                                <li class="nav-item"><a class="nav-link" href="#equipment">Преимущества</a></li>
                                <li class="nav-item"><a class="nav-link" href="#catalog">Каталог</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-7">
                            <ul>
                                <li class="nav-item"><a class="nav-link" href="#reviews"> Отзывы </a> </li>
                                <li class="nav-item"><a class="nav-link"  href="#about-person"> О Саше и котиках </a></li>
                                <li class="nav-item"><a class="nav-link"  href="#question form"> Форма обратной связи </a></li>
                                <li class="nav-item"><a class="nav-link"  href="#faq"> Вопрос & Ответ </a></li>
                            </ul>
                        </div>

                    </div>

                </div>
                <img  src="assets/img/product_logo-black.svg" class="col-lg-2 img-fluid product-logo" alt="product_logo">
                <div class="col-lg-5 footer__contacts">
                    <div class="phone">+7 (900) 999-88-99</div>
                    <div class="mail">aliceandcat@gmail.ru</div>
                </div>
                <div class="col-lg-5 legal-info">
                    <ul>
                        <li><a href="">Юридический адрес</a></li>
                        <li><a href="">Политика конфиденциальности</a></li>
                    </ul>


                </div>
                <div class=" social-links col-lg-2 ">

                    <a href="#">
                            <img src="assets/img/telegram-icon-black.svg" alt="telegram-icon" >
                        </a>
                    <a href="#">
                            <img src="assets/img/viber-icon-black.svg" alt="viber-icon" >
                        </a>
                    <a href="#">
                            <img src="assets/img/vk-icon-black.svg" alt="vk-icon" >
                        </a>


                </div>
            </div>

        </div>
    </div>



</footer>
@@include('modals.html')
<script defer src="assets/js/bootstrap.min.js"></script>
<script defer src="assets/js/slick.min.js"></script>
<script async src="assets/js/jquery.fancybox.min.js"></script>
<script defer src="assets/js/jquery.nice-select.min.js"></script>
<script async src="assets/js/global.js"></script>

</body>

</html>
