<div class='thetop'></div>
<div class='scrolltop'>
    <div class='muve-top'></div>
</div>
<header>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-logo" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ">    
                    <li class="nav-item">
                        <a class="nav-link" href="#catalog">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#offers">Акции</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#reviews">Отзывы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faq">Доставка и оплата</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about-person">Об авторе и котиках</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footer">Контакты</a>
                    </li>
                  </ul>     
            </div>
          <a href="" class="navbar-basket"></a>                    
        </div>
    </nav>



    <a href="markup.html" class="markup-link">markup</a>
</header>

