<!-- Modal -->
<!-- Товар -->
<div class="modal fade modal-product  " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    Открыть модальное окно>
    <div class="modal-dialog modal-fullscreen-xl-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body  product">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"><img src="assets/img/left-arrow.svg" alt=""> В каталог</button>
                    <div class="row">
                        <div class="col-lg-6">
                            <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class=" img-min active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class=" img-min" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="img-min" aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="img-min" aria-label="Slide 4"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="assets/img/product-img_1.png" id="1" class="d-block  img-fluid" alt="...">
                      </div>
                                        <div class="carousel-item">
                                            <img src="assets/img/product-img_2.png" class="d-block  img-fluid" alt="...">
                      </div>
                                            <div class="carousel-item">
                                                <img src="assets/img/product-img_3.png" class="d-block  img-fluid" alt="...">
                      </div>
                                                <div class="carousel-item">

                                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pO-fTpAGHRk" data-video-id="pO-fTpAGHRk"></iframe>

                                                </div>
                                            </div>
                                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="product-text col-lg-6">
                                        <h3 class="product-name">Светильник конструктор Гарри Поттер |  декоративный домик «Лесная Хижина» по мотивам «Гарри Поттера» | набор для сборки</h3>
                                        <div class="age-restrictions">Возраст ребенка: От 11 лет</div>
                                        <div class="price-row d-flex">
                                            <div class="price">12990</div>
                                            <div class="previous-price">14990</div>
                                        </div>
                                        <div class="product-type">
                                            <h4 class="product-type__title">Тип домика</h4>

                                            <div class="dropdown" data-dropdown>
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-dropdown-toggle aria-haspopup="true" aria-expanded="false" data-dropdown-btn>
                                                    Выберите тип
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" data-dropdown-menu>
                                                    <li><a class="dropdown-item" href="#" data-dropdown-item="Конструктор">Конструктор</a></li>
                                                    <li><a class="dropdown-item" href="#" data-dropdown-item="не Конструктор">Не Конструктор</a></li>
                                                    <li><a class="dropdown-item" href="#" data-dropdown-item="Элемент 3">Элемент 3</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="d-flex">
                                            <div class="counter  ">
                                                <button class="counter-btn minus">-</button>
                                                <div class="counter-value">1</div>
                                                <button class="counter-btn plus">+</button>
                                            </div>
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#alertBusketModal">
                                                Купить домик
                                            </button>
                                        </div>
                                        <div class="product__description">
                                           <div class="accordion " id="accordionPanelsStayOpenExample">
                                            <div class="accordion-item">
                                              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                                  Описание набора
                                                </button>
                                              </h2>
                                              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                                <div class="accordion-body">
                                                    <p>Набор для создания домика Лесная Хижина по мотивам вселенной Гарри Поттера
                                                        <br><br>
                                                        ⭐ 2-4 вечера увлекательной и легкой сборки<br>
                                                        ⭐ Видеокурс по созданию домика в комплекте<br>
                                                        ⭐ Стильная брендированная упаковка, набор можно сразу дарить<br>
                                                        ⭐ Светильник работает от батареек, внутри светодиодная гирлянда<br>
                                                        ⭐ Фишки: дымящаяся труба, уютная комнатка, светящийся камин, ящик семян<br>
                                                        ⭐мандрагоры, ловушка для плотоядных слизней и еще множество интересных деталей<br>
                                                        <br><br>
                                                        Это первый в истории Alice&Cat домик, у которого может дымиться труба! Он самый объемный по наполнению, детализированный и интересный. Мне просто не верится, что этот дом получился такой живой и настолько уютный. Восторг и чистое волшебство!
                                                        <br><br>
                                                        Светильник работает от трёх батареек ААА (они не входят в комплект), внутри светодиодная гирлянда. Батареек хватает примерно на 1-2 месяца ежедневной работы по 3-4 часа.
                                                        <br><br>
                                                        В состав набора домика-конструктора входит полный комплект материалов и инструментов: деревянные детали, краски, кисти, воск, материал для черепицы, наждачная бумага, клей столярный, клей момент, канцелярский нож, канцелярские резинки, декор. А также интереснейшая инструкция, нарисованная полностью от руки, со встроенным QR-кодом – ссылкой на видеокурс по созданию домика.
                                                        <br><br>
                                                        Все это с любовью собрано и упаковано в стильные брендированные коробочки с нашей фирменной открыткой и магнитиком, так что набор можно сразу дарить.
                                                        <br><br>
                                                        Размер домика: ширина – 30 см, длина бокового фасада – 25 см, высота – 26 см.</p>
                                                </div>
                                              </div>
                                            </div>
                                            
                                          </div>
                                        </div>
                                        
                                    </div>
                                </div>




                            </div>
                            <div class="modal-footer">

                            </div>
                        </div>
                    </div>
            </div>
            <!-- Корзина -->
            <div class="modal fade basket-modal " id="basketModal" tabindex="-1" aria-labelledby="basketModalLabel" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="order-title">
                                Ваш заказ:
                            </h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="product-item">
                                <h3 class="product-item__name">Светильник конструктор «Лесная Хижина»</h3>
                                <div class="d-flex align-items-center">
                                    <img src="assets/img/product-img_1.png" alt="" class="product-img img-fluid ">
                                    <div class="product-type">
                                        <div class="product-type__title">Тип изделия:</div>
                                        <div class="product-type__category">Конструктор</div>

                                    </div>
                                    <div class="counter">
                                        <button class="counter-btn minus">-</button>
                                        <div class="counter-value">1</div>
                                        <button class="counter-btn plus">+</button>
                                    </div>
                                    <div class="price">12 990 ₽</div>
                                    <button class="delite-btn btn-close"></button>
                                </div>

                            </div>
                            <div class="amount d-flex">
                                <div class="amount-title">Сумма:</div>
                                <div class="amount-price">12 990 ₽</div>
                            </div>

                            <div class="delivery">
                                <h3 class="delivery__title">Вариант доставки:</h3>
                                <h5 style="font-weight: 400;">Город</h5>
                                <div class="dropdown delivery__dropdown" data-dropdown="">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-dropdown-toggle="" aria-haspopup="true" aria-expanded="true" data-dropdown-btn="">
                                        Выберите Город
                                    </button>
                                    <ul class="dropdown-menu show" aria-labelledby="dropdownMenuButton" data-dropdown-menu="">
                                        <li><a class="dropdown-item" href="#" data-dropdown-item="СПБ">Санкт Петербург</a></li>
                                        <li><a class="dropdown-item" href="#" data-dropdown-item="не СПБ">Не Петербург</a></li>
                                        <li><a class="dropdown-item" href="#" data-dropdown-item="МСК">москва</a></li>
                                    </ul>
                                </div>
                                <div clas="delivery__radio">
                                    <p>
                                     <input type="radio" id="contactChoice1" name="delivery" value="-">
                                        <label for="contactChoice1">СДЭК, 450 ₽</label>
                                    </p>
    
                                    <p>
                                        <input type="radio" id="contactChoice2" name="delivery" value="-">
                                        <label for="contactChoice2">Доставка «Почта России», 300 ₽ <br> Варианты доставки будут обновлены при оформлении заказа</label>
                                    </p>
    
    
                                </div>
    
    
                                <div class="form-about-buyer " id="about-buyer form ">
                                    <form>
                                        <label for="fname" class="form-label">Получатель</label>
                                        <input type="text" id="fname" name="fname" placeholder="Ваше имя">
                                        <input type="tel" id="ftelephone" name="telephone" placeholder="+7 (000) 00-00-00" maxlength="17">
                                        <input type="email" id="femail" placeholder="Ваш E-mail">
    
                                        <label for="address" class="form-label">Aдресс</label>
                                        <input type="text" id="adress" name="address" placeholder="">
                                        <label for="comment" class="form-label">Комментарий</label>
                                        <textarea class="form-control" id="comment" rows="1" placeholder="Напишите комментарий к заказу"></textarea>
                                        <input class="coupon" type="coupon" id="fcoupon" placeholder="Код купона">
                                        <button type="button" class=" btn  btn-dark accept-btn">Применить</button>
    
                                    </form>
                                    <div class="payment-method">
                                        <h4 style="font-weight: 400;">Способ оплаты:</h4>
                                        <p>
                                            <input type="radio" id="payment1" name="payment-method" value="-">
                                            <label for="payment1">Банковской картой</label>
    
                                        </p>
                                        <p>
                                            <input type="radio" id="payment2" name="payment-method" value="-">
                                            <label for="payment2">Оплата при получении</label>
    
                                        </p>
                                    </div>
    
                                    
    
    
                                    </div>
    
                                </div>
                                <div class="total-price ">
                                    <div class="total-price__product d-flex">
                                        <h5 class="title">Товары:</h5>
                                        <div class="price">12 990 Р</div>
                                    </div>
                                    <div class="total-price__mail d-flex">
                                        <h5 class="title">СДЭК:</h5>
                                        <div class="price">450 Р</div>
                                    </div>
    
    
                                    <div class="total-price__money d-flex">
                                        <h2 class="title">Итоговая сумма:</h2>
                                        <div class="price">13 440 Р</div>
                                    </div>
    
    
    
                            </div>
                            <button id="submit-all-forms" type="button" class="btn btn-primary">Оформить заказ</button>
                            <div class="btn-description">
                                Нажимая на кнопку «Оформить заказ», вы соглашаетесь с политикой конфиденциальности
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
            <!-- Cкидка -->
            <div class="modal fade discount-modal " id="discountModal" tabindex="-1" aria-labelledby="discountModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="discount-title">
                                <h3>Вам подарок</h3>
                                <h2>скидка 25% на первый заказ!</h2>
                            </div>

                            <div class="discount-form">

                                <label for="E-mail" class="form-label">Электронная почта</label>
                                <input type="email" id="E-mail" name="email" placeholder="Ваш E-mail" class="discount-form__email">

                                <label for="telephone" class="form-label">Ваш телефон</label>
                                <input type="tel" id="telephone" name="telephone" placeholder="+7 (000) 00-00-00" class="discount-form__tel" maxlength="17">



                                <input type="button" class="btn btn-primary" value="Забрать подарок">
                                <div class="btn-atr">Нажимая на кнопку «Забрать подарок», вы соглашаетесь с политикой конфиденциальности</div>


                            </div>





                        </div>

                    </div>
                </div>
            </div>
            <!-- Алерт корзина пуста -->
            <div class="alert alert-busket-empty  alert-dismissible fade  fixed-top " id="basket-alert-empty " role="alert" style="display: none;">
                <h2>Корзина пуста</h2>
                В корзине нет товаров. Перейдите <a href="#catalog" class="alert-link">в каталог</a> и добавьте понравившиеся товары в корзину!


                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

            </div>
            
             <!-- Алерт товар в корзине -->
             <div class="modal fade alert-busket " id="alertBusketModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog ">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h2>В корзине уже есть товар</h2>
                    
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      
                    </div>
                    
                    <div class="modal-body">
                        <div class="alert-text">Продолжим покупки?</div>
                        <div class="alert-btns ">
                            <a href="#" class="alert-link btn btn-primary" style="background-color: #BEBEbE; margin-right: 20px; "  data-bs-dismiss="modal">
                                Продолжить покупки </a>
                            <button type="button" class="btn btn-primary alert-link busket-btn" id="openModalButton" style="padding: 20px 80px;" data-bs-toggle="modal"  data-bs-dismiss="modal"data-bs-target="#basketModal">
                                В корзину
                            </button>
                        </div>
                    </div>
                    
                      
                    </div>
                  </div>
                </div>
              </div>