<section class="offers" id="offers" >
    <div class="container">
        <h2 class="offers__title">Больше выгодных предложений</h2>
        <div class="offers__items row align-items-center">
            <div class="first-card col-lg-4">
                <h3 class="card-title">Набор 3 + 1</h3>
                <div class="card-descriptions">4 домика по вселенной Гарри Поттера по цене 3-х</div>
                <a href="#" class="card-link">Подробнее</a>

            </div>
            <div class="second-card  col-lg-4">
                <h3 class="card-title">Набор 2 + 1</h3>
                <div class="card-descriptions">3 домика по вселенной Гарри Поттера по цене 2-х</div>
                <a href="#" class="card-link">Подробнее</a>
            </div>
            <div class="col-lg-3">
                <div class="third-card  ">
                    <h3 class="card-title">Набор 1 + 1</h3>
                    <div class="card-descriptions">2 домика по вселенной Гарри Поттера по цене 1</div>
                    <a href="#" class="card-link">Подробнее</a>
                </div>
                <div class="fourth-card ">
                    <h3 class="card-title">Подарочный сертификат</h3>
                    <div class="card-descriptions">Сертификат на фиксированную сумму в мастерскую Alice&Cat</div>
                    <a href="#" class="card-link">Подробнее</a>
                </div>
            </div>



        </div>
    </div>


</section>
