<section class="reviews" id="reviews">
    <div class="container">
        <img src="assets/img/reviews_back.svg" alt="reviews_back" class="reviews__img-back">
        <div class="reviews__title">
            <h2 class="first-row">Что говорят</h2>
            <h2 class="second-row">наши клиенты?</h2>
            <img src="assets/img/reviews_title-atr.svg" class="title-atr img-fluid" alt="reviews__title-atr">
        </div>
            <div class="reviews__items">
                <div class="row">
                    <div class="rewiews__item first">
                        <img src="assets/img/rewiews_img1.png" alt="rewiews_img1" class="img-fluid">
                        <div class="rewiews__text">Конструктор стоит своих денег и даже больше. Он нереально наполнен и детализирован</div>
                    </div>
                    <div class="rewiews__item second">
                        <img src="assets/img/rewiews_img2.png" alt="rewiews_img2" class="img-fluid">
                        <div class="rewiews__text">Это неописуемый восторг, второй домик в коллекции!</div>
                    </div>
                    <div class="rewiews__item third">
                        <img src="assets/img/rewiews_img3.png" alt="rewiews_img3" class="img-fluid">
                        <div class="rewiews__text">Спасибо за возможность окунуться в сказку</div>
                    </div>
                    <div class="rewiews__item fourth">
                        <img src="assets/img/rewiews_img4.png" alt="rewiews_img4" class="img-fluid">
                        <div class="rewiews__text">Магнитик и открытка в подарок</div>
                    </div>
                    <div class="rewiews__item fifth">
                        <img src="assets/img/rewiews_img5.png" alt="rewiews_img5" class="img-fluid">
                        <div class="rewiews__text">Интересный, детализированный, в комплекте есть почти все необходимое</div>
                    </div>
                    <div class="rewiews__item sixth">
                        <img src="assets/img/rewiews_img6.png" alt="rewiews_img5" class="img-fluid">
                        <div class="rewiews__text">Очень качественный набор с отличной детализацией</div>
                    </div>

                </div>
            </div>
            <div class="reviews__buttons">
                <a href="#catalog" class="btn btn-primary">Выбрать свой домик</a>
                <a href="#" class="btn btn-link">Смотреть все отзывы</a>
            </div>
        </div>
</section>
