<section class="reviews" id="reviews">
    <div class="container">
        <img src="assets/img/reviews_back.svg" alt="reviews_back" class="reviews__img-back">
        <div class="reviews__title anim-items anim-no-hide">
            <h2 class="first-row">Что говорят</h2>
            <h2 class="second-row">наши клиенты?</h2>
           <!-- <img src="assets/img/reviews_title-atr.svg" class="title-atr img-fluid" alt="reviews__title-atr">-->
          

        </div>
        <div class="circle circle_big">
            <svg viewbox="0 0 70 70">
                <defs>
                    <path
                        d="M35,35m-23,0a23,23 0 1,1 46,0a23,23 0 1,1 -46,0"
                        id="tophalf"/>
                </defs>
                <text>
                    <textpath xlink:href="#tophalf" startoffset="0%" class="circle__text">
                        * все отзывы * все отзывы * все отзывы 
                    </textpath>
                </text>
            </svg>
        </div>
            <div class="reviews__items">
                <div class="row">
                    <div class="reviews__item first">
                        <img src="assets/img/rewiews_img1.png" alt="reviews_img1" class="img-fluid">
                        <div class="reviews__text">Конструктор стоит своих денег и даже больше. Он нереально наполнен и детализирован</div>
                    </div>
                    <div class="reviews__item second">
                        <img src="assets/img/rewiews_img2.png" alt="reviews_img2" class="img-fluid">
                        <div class="reviews__text">Это неописуемый восторг, второй домик в коллекции!</div>
                    </div>
                    <div class="reviews__item third">
                        <img src="assets/img/rewiews_img3.png" alt="reviews_img3" class="img-fluid">
                        <div class="reviews__text">Спасибо за возможность окунуться в сказку</div>
                    </div>
                    <div class="reviews__item fourth">
                        <img src="assets/img/rewiews_img4.png" alt="reviews_img4" class="img-fluid">
                        <div class="reviews__text">Магнитик и открытка в подарок</div>
                    </div>
                    <div class="reviews__item fifth">
                        <img src="assets/img/rewiews_img5.png" alt="reviews_img5" class="img-fluid">
                        <div class="reviews__text">Интересный, детализированный, в комплекте есть почти все необходимое</div>
                    </div>
                    <div class="reviews__item sixth">
                        <img src="assets/img/rewiews_img6.png" alt="reviews_img5" class="img-fluid">
                        <div class="reviews__text">Очень качественный набор с отличной детализацией</div>
                    </div>

                </div>
            </div>
            <div class="reviews__buttons">
                <a href="#catalog" class="btn btn-primary">Выбрать свой домик</a>
                <a href="#" class="btn btn-link">Смотреть все отзывы</a>
                <a href="#" class="btn btn-link mobile">Oтзывы</a>

            </div>
        </div>
</section>
