<section class="video-instruction">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h3 class="video-instruction__title">Видео-инструкцияк каждому домику</h3>
                <div class="video-instruction__description">При покупке домика вы получите видео-инструкцию с подробным описанием процесса сборки домика. С этим легко справляются взрослые и дети с 12 лет. <br><br> Конструктор невозможно испортить! Небрежность мазков краски добавит домику шарм и характер. А если какая-то деталь будет сломана — мы предоставим новую бесплатно.</div>
            </div>
            <div class="col-lg-6">
                <a class="video" data-fancybox="video-gallery" href="https://youtu.be/rdVcT09dEf8">
                    <img src="assets/img/video-instruction_funcybox-img.png"  />
                </a>

                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/jfKfPfyJRdk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    -->
        </div>

    </div>


</section>
