.about-person{
    background: url(assets/img/about-person-back.png) top/cover no-repeat;
    background: #19191B;
    padding-top: 200px;
    border-top-left-radius: 46% 24%;
    border-top-right-radius: 46% 24%;
    .container{
        max-width: 1200px;
    }
    &__title{
        margin: 0 auto 25px;
        max-width: 615px;
        position: relative;
        transform: translate(-390px , 0);
        opacity: 0;
        transition: all 0.9s ease 0s;


        &::before{
            position:absolute;
            content: "";
            height: 75px;
            width: 143px;
            bottom: 72px;
            left: 437px;
            background: url(assets/img/about-person__title-atr.svg) center no-repeat;
            display:none;
        }
        

        h2{
            font-family: $font-secondary;
            font-weight: 500;
            font-size: 54px;
            line-height: 68px;
            
            text-transform: uppercase;
            color: $white;
        }
        .first-row{
            padding-right: 180px;
        }
        .second-row{
            padding-left: 270px;
            position: relative;
            
            
        }
    }

    &__title._active{
        transform: translate(0 , 0);
        opacity: 1;
    }

    .person-photo{
        padding-left: 40px;
    }

    .person-photo-atr{
        position: relative;
        bottom: 82px;
        left: 362px;
        transform: scale(0);
       
        transition: all 0.9s ease 0.0s;
    } 

    .person-photo-atr._active{
        
        transform: scale(1);
        transition: all 0.8s ease 1s;
    }
    
    &__text{
        
        p{
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 140%;
            color: $white;
            margin-bottom: 25px;
        }

        .social-links{
            background: $white;
            border-radius: 45px;
            padding: 15px 30px ;
            display: flex;
            flex-direction: row;
            align-items: center;
            &__title{
                font-weight: 300;
                font-size: 16px;
                line-height: 18px;
                color: $primary-color;
            }
            .links{
                margin-left: auto;

                a{
                    margin: 3px;
                    text-decoration: none;
                    
                    
                    
                }
                    
            }
        }
    }

}    
    