.equipment{

    margin-top: 150px;
    &__title{
        position: relative;
        max-width: 650px;
        font-family: $font-secondary;
        font-weight: 500;
        font-size: 54px;
        line-height: 68px;
        margin: 80px auto;
        text-transform: uppercase;
        color: $primary-color;


        &::before{
            content: "Что входит в набор?";
            position: absolute;
            font-family: $font-primary; 
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            text-transform: none;
            width: 177px;
            bottom: 65px;
            left: 147px;
        }
        &::after{
            content: "И почему мы любим то, что создаем";
            position: absolute;
            font-family: $font-primary; 
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            text-transform: none;
            width: 315px;
            top: 55px;
            right: 81px;

        }
    }

    &__tablet{
        justify-content: space-between;
        margin-bottom: 46px;
        
        .equipment-item{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 10px;
            
            &__title{
                margin: 10px auto 50px;
                
                
            }

            &__img{
                position: relative;
                bottom: 102px;
            }

            &__description{
                font-weight: 300;
                font-size: 16px;
                line-height: 140%;
                font-family: $font-primary;
                color: $primary-color;
                text-align: center;
                margin-top: -70px;
            }

        }
    }

    .btn-primary{
        padding: 15.5px 40px;
        font-family: $font-primary;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $primary-color;
        margin: 0 auto;
        max-width: 152px;
        
        display: block;
        text-align: center;
    }

    &-border-bottom{
        height: 259px;
        width: 100%;
        margin-top: 42px;
        margin-bottom: -10px;
        background: url(assets/img/catalog__border-top.png) center/cover no-repeat;
    }    
}