.first-screen {

    height: 1700px;
    max-width: 1910px;
    background: url(assets/img/firstscreen-back.png) center/cover no-repeat;
    margin-top: -185px;
    padding-top: 300px;
    border-radius: 0 0 53% 48%/0 0 13% 13%;
    


    &__title {
        color: #FFFCF0;
        font-family: $font-secondary;
        width: 715px;
        font-weight: 500;
        font-size: 60px;
        line-height: 76px;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto 30px auto;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 40px;
            height: 60px;
            top: 73px;
            left: 685px;
            background: url(assets/img/first-screen_title-before.png) center no-repeat;
        }

        &::after {
            content: "";
            position: absolute;
            width: 40px;
            height: 60px;
            top: 110px;
            left: 645px;
            background: url(assets/img/first-screen_title-before.png) center no-repeat;
            background-size: 60%;

        }


    }

    &__descreption {
        color: #FFFCF0;
        font-family: $font-primary;
        max-width: 474px;
        height: 72px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin: 0 auto 40px auto;

    }

    .btn-primary {
        display: block;

        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        padding: 15px 40px;
        width: 195px;
        margin: 0 auto;
    }

    @function random_range($min, $max) {
        $rand: random();
        $random_range: $min + floor($rand * (($max - $min) + 1));
        @return $random_range;
      }
      
      .snow {
        $total: 200;
        position: absolute;
        width: 10px;
        height: 10px;
        background: white;
        border-radius: 50%;
        top: 55px;
      
        @for $i from 1 through $total {
          $random-x: random(1000000) * 0.0001vw;
          $random-offset: random_range(-100000, 100000) * 0.0001vw;
          $random-x-end: $random-x + $random-offset;
          $random-x-end-yoyo: $random-x + ($random-offset / 2);
          $random-yoyo-time: random_range(30000, 80000) / 100000;
          $random-yoyo-y: $random-yoyo-time * 150vh;
          $random-scale: random(10000) * 0.0001;
          $fall-duration: random_range(10, 30) * 1s;
          $fall-delay: random(30) * -1s;
      
          &:nth-child(#{$i}) {
            opacity: random(10000) * 0.0001;
            transform: translate($random-x, -10px) scale($random-scale);
            animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
          }
      
          @keyframes fall-#{$i} {
            #{percentage($random-yoyo-time)} {
              transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
            }
      
            to {
              transform: translate($random-x-end-yoyo, 150vh) scale($random-scale);
            }
          }
        }
      }
      
        
        
    
       
        
      

}
