.reviews{
    padding-bottom:50px;
    position: relative;
    
    

    &__img-back{
        position: relative;
        z-index: -1;
        top: 105px;
        right: 71px;
        
    }   
    

    &__title{
        margin: -250px auto 0;
        max-width: 615px;
        

        h2{
            font-family: $font-secondary;
            font-weight: 500;
            font-size: 54px;
            line-height: 68px;
            
            text-transform: uppercase;
            color: $primary-color;
        }
        .first-row{
            padding-right: 180px;
        }
        .second-row{
            padding-left: 180px;
            position: relative;
            
            
        }

        img.title-atr{
            position: relative;
            left: 480px;
            bottom: 195px;
            animation: 20s linear infinite spinner-border;

            
            
        }

    }

    .circle_big{
         
        position: absolute;
        left: 966px;
        top: 0px;
        width: 110px;
    
        animation: spinner-border 20s linear infinite;
        .circle__text {
            color: #000000;
            font-family: "FoglihtenNo06";
            font-style: normal;
            font-weight: 500;
            font-size: 8px;
        }
    
        &:after {
            content: "";
            display: block;
    
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
    
            width: 20px;
            height: 20px;
            background: url("assets/img/zvezda.png") center (center/cover) no-repeat;
        }
        
    }
    &__items{
        max-width: 1200px;
        height: 412px;
        overflow: hidden;
        margin: 0 auto;

        .reviews__item{
           width: fit-content;
           margin: 0 auto;
           position: relative;
           
           
           .reviews__text{
            border-radius: 32px;
            background-color: white;
            padding: 10px 20px;
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            font-family: $font-primary;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
            position: relative;
           }
           &.first{
            
            .reviews__text{
                max-width: 204px;
                border-bottom-right-radius: 0px;
                border-top-right-radius: 19px;
                bottom: 320px;
            }
           }
           &.second{
            
            top: 100px;
            right: 252px;
            .reviews__text{
                max-width: 195px;
                border-bottom-right-radius: 0px;
                border-top-right-radius: 19px;
                bottom: 120px;
                right: 85px;
            }
           }
           &.third{
            right: 555px;
            
            .reviews__text{
                max-width: 176px;
                border-bottom-left-radius: 0px;
                border-top-left-radius: 19px;
                bottom: 162px;
                left: 176px;
            }
           }

           &.fourth{
            bottom: 312px;
            left: 463px;
            
            .reviews__text{
                max-width: 210px;
                border-bottom-right-radius: 0px;
                border-top-right-radius: 19px;
                bottom: 88px;
                left: 123px;
            }
           }
           &.fifth{
            bottom: 428px;
            left: 211px;
            .reviews__text{
                max-width: 255px;
                border-bottom-left-radius: 0px;
                border-top-left-radius: 19px;
                bottom: 271px;
                left: 123px;
            }
           }
           &.sixth{
            bottom: 384px;
            left: 4px;
            .reviews__text{
                max-width: 187px;
                border-bottom-left-radius: 0px;
                border-top-left-radius: 19px;
                bottom: 124px;
                left: 123px;
            }
           }

        }
    }
    &__buttons{
        max-width: 500px;
        margin: 15px auto;

        .btn-primary{
            margin-right: 40px;
            
        }

        .btn-link{
            position: relative;

            &.mobile{
                display: none;
            }

            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 1px;
                background-color: $primary-color;
                bottom: 3px;
                left: 50%;
                transform: translate(-50%, 0);
                transition: .8s;
                
            }

            &:hover{
                text-decoration: none;
                &::after{
                    width: 80%;
                }

            }
        }
    }
}   
