.video-instruction{
    width: 1200px;
    padding-top: 215px;
    margin: -50px auto 130px;
    position: relative;

    
    &__title{
        font-family: $font-secondary;
        font-weight: 500;
        font-size: 30px;
        line-height: 31px;
        text-transform: uppercase;
        color: $primary-color;
        position: relative;
        margin-bottom: 20px;
        max-width: 334px;
        transform: translate(-390px , 0);
        opacity: 0;
        transition: all 0.9s ease 0s;


        &::before{
            content: "";
            position: absolute;
            height: 208px;
            width: 160px;
            background: url(assets/img/video-instruction_title-atr.png) center no-repeat;
            background-size: 100%;
            bottom: -245px;
            left: -137px;
        
        }
    }

    &__title._active{
        transform: translate(0 , 0);
        opacity: 1;
    }

    &__description{
        margin-left: 60px;
        max-width: 317px;
        transform: translate(-390px , 0);
        opacity: 0;
        transition: all 0.9s ease 0s;


    }

    &__description._active{
        transform: translate(0 , 0);
        opacity: 1;
        transition: all 0.9s ease 0.3s;
    }
    iframe{
        border-radius: 30px;
        transform: translate(390px , 0);
        opacity: 0;
        transition: all 0.9s ease 0s;
    }

    .video{

        

        img{

        }
        position: relative;
        &::before{
            position: absolute;
            content: "";
            height: 51px;
            width: 53px;
            background: url(assets/img/btn_play.svg) center no-repeat;
            top: -21px;
            left: 269px;
            

            
        }
    }

    iframe._active{
        transform: translate(0 , 0);
        opacity: 1;
    }
}